@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply bg-primary border border-transparent font-semibold hover:bg-primaryHover px-6 py-2 flex text-center items-center justify-center w-40 shadow-md transition duration-300 ease-in-out hover:shadow-none;
  }
  .title {
    @apply text-[40px] xs:text-5xl mt-16 mb-6 font-bold text-grayText text-center tracking-wider relative w-fit mx-auto font-headings;
    /* mt-28 mb-7 */
  }
  .title::after {
    content: "";
    @apply absolute bottom-[-50%] left-1/2 w-20 h-[8%] bg-primary;
    transform: translate(-50%);
  }
  .container {
    @apply bg-pureWhite max-w-[70rem] text-dark shadow-md sm:p-10 p-6;
  }
  .formInput {
    @apply w-full mb-4 bg-slate-100 rounded-custom border border-stone-300 p-2 text-dark;
  }
}

.specialLink {
  color: #2e72b2; /* $link-color */
  text-decoration: underline;
}

.specialLink:hover {
  background: radial-gradient(
    circle,
    #2e72b2 0%,
    /* $link-hover-gradient-1 */ #3c87cd 16%,
    /* $link-hover-gradient-2 */ #d8ad48 32%,
    /* $link-hover-gradient-3 */ #f7b42d 49%,
    /* $link-hover-gradient-4 */ #d8ad48 66%,
    /* $link-hover-gradient-3 */ #3c87cd 84%,
    /* $link-hover-gradient-2 */ #2e72b2 100% /* $link-hover-gradient-1 */
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient 2s ease-in-out infinite alternate;
  background-size: 400%;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

body {
  overflow-x: hidden;
  background-color: #f5f5f5;
  background-attachment: fixed;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='441' height='441' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23E9E7E7' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23EDEBEB'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}
